/*_______background_______*/
body {
	background:
	radial-gradient(circle,
		rgba(28, 32, 83, -2),
		rgba(999, 999, 999, 10)),
	center/cover no-repeat fixed
	url(/images/redRockCanyon.JPG);
	font-family: 'Alice', serif;
}

/*_______navbar styling_______*/
.navbar {
	border-radius: 0;
	font-size: 1.4em;
	text-shadow: 3px 0px 6px #999;
	font-family: 'Shrikhand', cursive;
}

.navbar a {
	text-decoration: none;
	color: #fff;
}

.navbar li { /*float nav links right*/
	list-style: none;
	display: inline;
	font-size: 1.2em;
	margin: 1% 3%;
	float: right;
}

.navbar li:nth-child(1) { /*float the home link left*/
	float: left;
}

/*_______home view styling_______*/
.name-and-pic {
	display: inline-flex;
	align-items: center;
}

.profile-pic {
  border: 0;
  max-width: 240px;
  border-radius: 200px;
  border: 13px double white;
  margin: 17% 15%;
}

.my-name {
	display: inline-table;
	margin: 0 0 15% -8%;
	font-size: 4em;
	color: white;
	text-shadow: 2px 3px 1px #766;
	font-family: 'Shrikhand', cursive;
}

@media (max-width: 800px) { /* rearrange for smaller than 800px */
	.name-and-pic {
		display: block;
	}
	.my-name {
		display: inline-block;
		margin-left: 5%;
		margin-top: -10%;
		text-shadow: 2px 3px 1px black;
	}
}

/*_______about view styling_______*/
.about-block {
  background-color: white;
  margin: 15% 5%;
  padding: 3%;
  border-radius: 35px 5px;
  font-size: 1.5em;
  line-height: 1.6em;
}
.about-block p:nth-child(1) {
  margin-left: 20%;
}

.about-block p:nth-child(2) {
  margin-right: 15%;
  /*justify-content: left;*/
}

/*_______misc styling_______*/
.center {
	margin: 25% 50%;
}
