<div class="about-block">
  <p>
    A common thread throughout my life has been a love of languages. My brain
    fully engages when I am using expressions and syntax to communicate
    effectively... whether that be with a programming language, music theory, or
    a spoken language (I have studied Latin, Greek, Italian). I also bring to
    the table a Bachelor's Degree in Mathematics and my experience as a sales
    rep and solar technician.
  </p>
  <p>
    Born and raised in Minneapolis, I now reside in Denver. I am elated to be a
    relatively new addition to the development community. Constantly learning
    new frameworks and technologies -- stagnation is not an option for a
    developer. That is why I will be doing this the rest of my life.
  </p>
</div>
