<div class="about-block">
  <p>Math major, turned proessional tenor, turned publisher, turned sales rep, turned dog whisperer, turned solar technician..... turned software developer. </br>I get excited by map, filter, ternaries, AngularJS and all things JavaScript.</p>
  <p>Born and raised in Minneapolis, I now reside in Nashville. I could not be more excited to be joining the thriving community of developers here. Constantly learning new languages, frameworks and technologies -- stagnation is not an option for a developer. That is why I will be doing this the rest of my life.</p>
</div>
