<div class="contact">
  <a href="./data/m-tambo-resume.pdf" download="m-tambo-resume"><img src="/images/download.png"><em>     Resume</em></a>
    <br />
  <a href="http://github.com/m-tambo"><img src="/images/github.png"><em>     github.com/m-tambo</em></a>
    <br />
  <a href="http://linkedin.com/in/m-tambo"><img src="/images/linkedin-icon.png"><em>     linkedin.com/in/m-tambo</em></a>
    <br />
  <a href="mailto:mtambo.dev@gmail.com"><img src="/images/email-icon.jpg"><em>     mtambo.dev@gmail.com</em></a>
    <br />

</div>
