<div class="project-container">
  <a href="http://m-tambo.com/juxta-position" target="_blank"><div class="project-card">
    <h2>JuxtaPosition</h2>
    <h4>Side-by-side comparison tool for fantasy football enthusiasts.</h4>
    <p>This application allows a user to input any two NFL players and see a full report of their projected stats and rankings for a given week. A front-end web app built using Javascript frameworks AngularJS and jQuery. Materialize provided a slick minimalist styling option. Several API calls made to nfl.com and fantasyfootballnerd.com.
    </p>
  </div></a>

  <a href="https://github.com/m-tambo/ensemblist" target="_blank"><div class="project-card">
    <h2>Ensemblist</h2>
    <h4>Bringing professional freelance musicians together.</h4>
    <p>This application seeks to connect musicians by allowing them to create a gig and invite nearby pros to collaborate with them. A full-stack web app built with NodeJS, ExpressJS, AngularJS and Bootstrap. For a database PostgreSQL was used, along with the Knex/Bookshelf ORM.
    </p>
  </div></a>

</div>
